.container{
  margin: 25px;
}

.card-header{
  padding-bottom: 8px;
}

.col-3{
  width: 70%;
  padding-right: 2%;
}

.col-2{
  width: 40%;
  padding-right: 2%;
}

.col-4{
  width: 86%;
}

.col-1{
  width: 20%;
  padding-right: 2%;
}
