mat-card{
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
 }

 .full-width{
   width: 100%;
 }

 .half-width{
   width: 49%;
   padding-left: 5px;
 }

 .prefixo {
     font-weight: bold;
     font-size: 15px;
   }

 .endereco{
   width: 30%;
 }

