<app-toolbar></app-toolbar>

<mat-card class="container">
  <mat-accordion class="mat-accordion">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Informações Básicas
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form class = "top" [formGroup]="form">

        <mat-form-field class="full-width" appearance="outline">
          <span class="prefixo">http://localhost:4200/inscricao/</span>
          <input class= "endereco" matInput formControlName="endereco" placeholder="Digite aqui">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nome do Evento</mat-label>
          <input matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Número Máximo de Inscrições</mat-label>
          <input matInput type="number" formControlName="maxIncricoes">
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>WhatsApp para Contato</mat-label>
          <input matInput type="tel" formControlName="whatsApp">
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Data Inicial</mat-label>
          <input matInput [matDatepicker]="dataInicial"  formControlName="dataInicial">
          <mat-datepicker-toggle matIconSuffix [for]="dataInicial"></mat-datepicker-toggle>
          <mat-datepicker #dataInicial>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Data Final</mat-label>
          <input matInput [matDatepicker]="dataFinal"  formControlName="dataFinal">
          <mat-datepicker-toggle matIconSuffix [for]="dataFinal"></mat-datepicker-toggle>
          <mat-datepicker #dataFinal>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancelar</button>
              <button mat-raised-button color="primary" matDatepickerApply>Confirmar</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </form>

      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formas de Pagamento
        </mat-panel-title>
        <mat-panel-description>
          Escolha as formas de pagamento
          <mat-icon>attach_money</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Voltar</button>
        <button mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formulário de Inscrição
        </mat-panel-title>
        <mat-panel-description>
          Defina os dados necessários para inscrição
          <mat-icon>list_alt</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Voltar</button>
        <button mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Pagina do Evento
        </mat-panel-title>
        <mat-panel-description>
          Configure sua página de inscrição
          <mat-icon>desktop_windows</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card class="sub-container" [formGroup]="form">
        <mat-expansion-panel [expanded]="true" hideToggle>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Título do Evento</mat-label>
            <input matInput formControlName="titutloEvento">
          </mat-form-field>
          <h3>Imagem de Capa</h3>
          <input type="file" (change)="onChange($event)">
        </mat-expansion-panel>
      </mat-card>

      <mat-card class="sub-container">
        <span>
          <mat-slide-toggle [(ngModel)]="step2"></mat-slide-toggle>
          Sobre
        </span>
        <mat-expansion-panel [expanded]="step2" hideToggle>
        </mat-expansion-panel>
      </mat-card>

      <mat-card class="sub-container">
        <span>
          <mat-slide-toggle [(ngModel)]="step3"></mat-slide-toggle>
          Palestrantes
        </span>
        <mat-expansion-panel [expanded]="step3" hideToggle>
        </mat-expansion-panel>
      </mat-card>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Voltar</button>
        <button mat-button color="primary" (click)="onSubmit()">Salvar</button>

      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</mat-card>
