<mat-toolbar color="primary">
  <span>EventPublish</span>
  <span>
    <button mat-button [routerLink]="'/eventos'">
      <mat-icon>view_headline</mat-icon>
      Eventos
    </button>

    <button mat-button [routerLink]="'/inscricoes'">
      <mat-icon>search</mat-icon>
      Inscrições
    </button>

    <button mat-button [routerLink]="'/relatorio'">
      <mat-icon>list_alt</mat-icon>
      Relatórios
    </button>

    <button mat-button [routerLink]="'/conta'">
      <mat-icon>account_box</mat-icon>
      Conta
    </button>

    <button mat-button [routerLink]="'/login'">
      <mat-icon>exit_to_app</mat-icon>
      Sair
    </button>
  </span>
</mat-toolbar>

