.informacoesBasicas{
  text-align: center;
}

.nomeEvento{
  padding-top: 100px;

  h1{
    font-size: 130px;
    font-weight: bold;
  }
}

.dataEvento{
  font-size: 25px;
  margin-top: 200px;
}

.container{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


