<div class="container" id="container">
  <div class="row">
    <div class="col-2" id="menu">
      <p><mat-slide-toggle [(ngModel)]="sobre">Sobre</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="palestrantes">Palestrantes</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="programacao">Programação</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="local">Local</mat-slide-toggle></p>
    </div>
    <div class="col-10">
      <form>
        <mat-card class="mat-card">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Título do Evento</mat-label>
            <input matInput formControlName="tituloEvento">
          </mat-form-field>
          <h3>Imagem de Capa</h3>
          <input type="file">
        </mat-card>

        <mat-card class="mat-card" *ngIf="sobre">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>

         <mat-card class="mat-card" *ngIf="palestrantes">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card" *ngIf="programacao">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card" *ngIf="local">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>
      </form>
    </div>
  </div>
</div>
