<div class="container" id="container">
  <div class="row">
    <div class="col-2" id="menu">
      <p><mat-slide-toggle [(ngModel)]="sobreToggle">Sobre</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="palestrantesToggle">Palestrantes</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="programacaoToggle">Programação</mat-slide-toggle></p>
      <p><mat-slide-toggle [(ngModel)]="localToggle">Local</mat-slide-toggle></p>
    </div>
    <div class="col-10">
      <form [formGroup]="capa">
        <mat-card class="mat-card">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Título do Evento</mat-label>
            <input matInput formControlName="tituloEvento">
          </mat-form-field>
          <h3>Imagem de Capa</h3>
          <input type="file" (change)="onChange($event)">
        </mat-card>
      </form>

      <form [formGroup]="sobre">
        <mat-card class="container" id="container" *ngIf="sobreToggle">
          <mat-card-title>Sobre</mat-card-title>
          <div id="container">
            Cor de fundo:
          </div>
          <div>
            <input type="color" matInput formControlName="bgColor">
          </div>
          <quill-editor formControlName="descricao" [style.background-color]="sobre.get('bgColor')?.value"></quill-editor>
        </mat-card>

         <mat-card class="mat-card" *ngIf="palestrantesToggle">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card" *ngIf="programacaoToggle">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>

        <mat-card class="mat-card" *ngIf="localToggle">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Sobre</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </mat-card>
      </form>
    </div>
  </div>
</div>
