.bg-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
}

.row{
  height: 100%;
}

.titulo{
  font-size: 5em;
  color: white;
  padding-bottom: 50px;
}

.data{
  color: white;
}

