.bg-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 700px;
}

.row{
  height: 100%;
}

.titulo{
  font-size: 7em;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

.data{
  font-size: 1.5em;
  color: white;
}

