<div class="container">
  <div class="row justify-content-center">
    <mat-tab-group class="col-10">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          Informações Básicas
        </ng-template>
        <app-form-info-basic class="form" [infoBasic]="infoBasic" (submitted)="submitInfo()"></app-form-info-basic>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Second
        </ng-template>
        <div class="container">
          <div class="row" id="button">
            <div class="d-flex justify-content-between">
              <button mat-stroked-button color="warn" (click)="previous()"> < Anterior</button>
              <button mat-stroked-button color="primary" (click)="next()">Próximo Passo > </button>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">thumb_up</mat-icon>
          Third
        </ng-template>

        Content 3
      </mat-tab>
  </mat-tab-group>
  </div>
</div>
