<div class="container">
  <div class="row justify-content-center">
    <mat-tab-group class="col-10">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>info</mat-icon>
          Informações Básicas
        </ng-template>
        <app-form-info-basic [infoBasic]="infoBasic" (submitted)="submitInfo()"></app-form-info-basic>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">dvr</mat-icon>
          Página do Evento
        </ng-template>
        <app-form-page
         [capa]="capa"
         [sobre]="sobre"
         (changeIMG)="changeIMG($event)"
         ></app-form-page>
        <div class="container" id="button">
          <div class="row">
            <div class="d-flex justify-content-between">
              <button mat-stroked-button color="warn" (click)="previous()"> < Anterior</button>
              <button mat-raised-button color="primary" (click)="submitPage()">Salvar</button>
            </div>
          </div>
        </div>
      </mat-tab>
  </mat-tab-group>
  </div>
</div>
