.container{
  margin: 25px;
  padding-bottom: 100px;
}

.sub-container{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.toolbar{
  justify-content: space-between;
}

.add-evento{
  background-color: white;
}

.example-card {
  width: 100%;
  margin: 5px;
}
