.container{
  width: 100%;
}

.form-footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.full-width{
  width: 100%;
}

.prefixo {
  font-weight: bold;
  font-size: 15px;
  }

.endereco{
  width: 30%;
}

td {
  padding-right: 8px;
}


